<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
    <servlet>
        <servlet-name>testforhtml</servlet-name>
        <servlet-class>ncu.im3069.demo.controller.MemberController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testforhtml</servlet-name>
        <url-pattern>/MemberController/do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    	<welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>