html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-color: #e6cd9d !important;
}
.Tophead{
    width: 100%;
    height: 10%; 
    background: black; 
    Top: 0;
    position: sticky;
    color: white;
    z-index: 1;
}
.ActivitiesInformation {
    width: auto; /* 設置適當的寬度 */
    margin: 20px; /* 設置適當的邊距 */
  }
  
  .activity-detail {
    display:list-item;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-label {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
  }
  
  .detail-value {
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  