html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-image: url('../img/LoginBackground.jpg'); /* 設置背景圖片的路徑 */
    background-repeat: no-repeat; /* 避免背景圖片重複顯示 */
    background-size: cover; /* 讓背景圖片覆蓋整個 body 區域 */
    background-position: center center; /* 將背景圖片置中 */
}
.container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
}
.login-area{
    width: 40%;
    height: 100%;
    background-color:  rgba(100, 149, 237, 0.9);
    right: 0;
    left: auto;
    position: absolute;
}

.required::before {
    content: "*";
    color: red;
}